## Map function with numbers

In [1]:
def square(num):
    return num**2
my_nums = [1,2,3,4,5]

In [3]:
map(square,my_nums)

In [4]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [5]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

## Map function with string

In [13]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'EVEN'
    else:
        return mystring[0]

In [16]:
names =  ['Andy', 'John', 'Kelly']

In [17]:
list(map(splicer,names))

['EVEN', 'EVEN', 'K']

## Filter function

In [19]:
def check_even(num):
    return num%2 == 0

In [20]:
mynums = [1,2,3,4,5,6]

In [22]:
list(filter(check_even,mynums))

[2, 4, 6]

In [25]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

## Lambda Function

#### Lambda function is an anonymous function where you usually use one time

In [28]:
def squre(num):
    result = num ** 2
    return result

In [29]:
square(3)

9

In [30]:
def squre(num): return num ** 2

In [32]:
square = lambda num: num ** 2

In [33]:
# No need to name the lambda function
lambda num: num ** 2

In [36]:
# Lambda function useful when combined with map and filter 
list(map(lambda num: num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [38]:
list(filter(lambda num: num%2 == 0,mynums))

[2, 4, 6]

In [40]:
# Get list of first letter
list(map(lambda letter: letter[0], names))

['A', 'J', 'K']

In [41]:
# Get list of reversed name
list(map(lambda letter: letter[::-1], names))

['ydnA', 'nhoJ', 'ylleK']